* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

h1 {
    margin: 30px 10px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 10px;
    width: 50%;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: 80vh;
    margin: 5px 0;
}

.io {
    border: 1px solid #ddd;
    resize: none;
    height: 80vh;
    margin: 5px 0;
    width: 100%;

    font-family: Menlo, consolas ,monospace;
    font-size: .85rem;

    overflow-y: scroll;
}

.io .line {
    line-height: 1.4rem;
    border-bottom: 1px solid #eee;
    position: relative;
}

.io .line.error {
    background-color: #ffefef;
    color: #f44336;
}

.io .line.run {
    background-color: #fffbe5;
    color: #6b4d15;
}

.io .line.run.success {
    background-color: #eaffe5;
    color: #1f5811;
}

.line .text {
    display: flex;
    max-width: 100%;
    position: relative;
    padding: .6rem;
    padding-left: 1.4rem;
}

.line.in::before, .line.error::before, .line.run::before {
    position: absolute;
    font-weight: bold;

    top: .55rem;
    left: .5rem;
    width: 12px;
    height: 12px;
}

.line.error::before {
    content: "x";
}

.line.in::before {
    content: ">";
}

.line.run::before {
    content: "<";
}

.io .input textarea {
    resize: none;
    background: none;
    font-family: Menlo,consolas,monospace;
    border: 0;
    padding: .7rem 0 0;
    padding-left: 1.4rem;
    display: block;
    width: 100%;
    outline: none;
    font-size: inherit;
    line-height: inherit;
}

.io .input {
    display: block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eee;
}

.input {
    position: relative;
}

.input .run {
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 4px 16px;
    z-index: 25;
}

@media only screen and (max-width: 800px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        width: 100%;
    }
}
